﻿@using TimeIsShort.Models;
@model List<Motivation>
@*Css trang chu*@
<link href="~/Content/TrangChu.css" rel="stylesheet" />
@{
    @*Sử dụng NguoiDungLayout*@
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}

@*trang index renderbody show *@

<div id="NoiDung">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="AllMotivation">
            <div id="HinhDaiDien"><img src="@Url.Content("~/Content/ImageNewMotivation/"+item.Image)" width="50" height="70" /></div>
            <div id="Name">@item.Name</div>
             <div id="Link">
                <p>
                  <a href=@item.Link>See...</a>
                </p>
            </div>
        </div>
         //6 Motivation 1 hang
        if(i%6==0)
        {
            <div style="clear:both"></div>
        }
        
    }
</div>
