﻿@using TimeIsShort.Models;
@model List<Motivation>

<h1 class="item-header">New Motivation</h1>
@{
    foreach (var item in Model)
    { 
        <div class="activity-list-update">

            <img src="@Url.Content("~/Content/ImageNewMotivation/"+item.Image)" width="50" height="50" alt="Image">
            <p>
                <strong>@item.Name </strong>
                <a href=@item.Link>See...</a>
            </p>
            <div class="clear"></div>
        </div>}
        
}


<a href="#" class="item-footer green">
    See more detail
</a>

