﻿#ToanTrang{
    position:relative;/*tận dụng độ rộng toàn trang*/
    background-color:#fff;
}
.DangKiDangNhap{
    
    float:right;/*đưa div sang bên phải*/
    margin-top:-1%;
}
/*hiệu ứng khi rê chuột vào link đăng kí, đăng nhập*/
.DangKiDangNhap a:hover{
    text-decoration:none;/*mất phần gạch chân*/
    color:#14a19a;/*đổi màu khi rê chuột vào*/
}
.divDienThoai{
    float:left;
    margin-top:-1%;
}
/*Css menu ở trên đỉnh*/
.MenuMain{
    float:right;
    margin-right:7%;/*cách khoảng cách bên phải divDanhMuc 7%*/
}
#divDanhMuc{
    height:30px;/*tăng độ dài*/
}
ul.MenuMain li{
    display:inline;/*giàn li thành hàng ngang*/
    border-right:solid 1px rgba(0,0,0,0.1);/*đường viền:kiểu đường viền, độ rộng,mã màu viền:rgba(3 mã màu 0,0,0 đen; độ trong suốt 0.5)*/
    padding:20px;/*tăng độ dài border phải 20px*/
    padding-top:19px;
    padding-bottom:22px;
       -webkit-transition:all .5s ease-out;  
      -moz-transition:all .5s ease-out;  
       -ms-transition:all .5s ease-out; 
}
ul.MenuMain li:hover{
    background-color:rgba(0,0,0,0.5);
     -webkit-transition:all .5s ease-out;  
      -moz-transition:all .5s ease-out;  
       -ms-transition:all .5s ease-out;
}
/*div*/
.MenuMain a:hover{
    text-decoration:none;
}
/*id*/
#txtTimKiem{
    float:left;
    margin-left:4%; /*cách trái*/ 
}
#txtTimKiem input{
    height:0px;
}
#divHinhAnhTimKiem button {
    margin-right:-65px;
    padding:0 10px 0 10px;
    background-color:#14a19a;
}
#divHinhAnhTimKiem button:hover {
    
    background-color:rgba(0,0,0,.1);

}
#divHinhAnhTimKiem img {
    width:30px;
    height:30px;

}
/*Css nivoslider*/
#slider{
    float:right;
    width:900px;
    height:360px;
    margin-right:25px;
}
#slider image{
    width:900px;
    height:360px;
}
#divMenuLeft{
    float:left;
}