﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*chèn Css của free templte*@
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    @*Chèn Css tự thiết kế*@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    @*Chèn Css font-awesome-4.2.0(icon)*@
    <link href="~/Content/font-awesome-4.2.0(icon)/css/font-awesome.min.css" rel="stylesheet" />
    @*chèn Css và javascript NiVo Slider*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/NiVo%20Slider(Bank)/jquery.nivo.slider.js"></script>
    <script src="~/Content/NiVo%20Slider(Bank)/jquery.nivo.slider.pack.js"></script>
   
    <link href="~/Content/NiVo%20Slider(Bank)/nivo-slider.css" rel="stylesheet" />
    @*script NivoSlider*@
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                controlNav: false,// 1,2,3... navigation
                prevText: '',               // Prev directionNav text
                nextText: '',               // Next directionNav text
                pauseTime: 3000,                // How long each slide will show 3s
            } );
        });
    </script>
</head>
<body>
    
   
    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                @*Điện thoại*@
                <div class="divDienThoai">
                    <i class="fa fa-phone"></i>
                    0974-820-228
                </div>
                @*Div Đăng Kí Đăng Nhập*@
                <div class="DangKiDangNhap">
                    <i class="fa fa-sign-in"></i>@*Chèn Icon*@
                    @*@Html.ActionLink("Sign Up", "SignUp", null, htmlAttributes: new { @class = "SignUp" })*@@*Tên Hiển Thị,Tên Action sử lý,giá trị truyền vào,hàm tạo Html để tạo thuộc tính class*@
                    @Html.ActionLink("Sign Up","SignUp","User")
                    <i class="fa fa-unlock-alt"></i>
                    @*@Html.ActionLink("Log In", "LogIn", null, htmlAttributes: new { @class = "DangNhap" })*@
                    @Html.ActionLink("Log In", "LogIn", "User")
                    @*<a href="Home/DangKy class="DangKy">Sign Up</a>*@

                </div>

            </div>
           
            @*Danh mục chính trên đầu đỉnh web*@
            <div class="flash success" id="divDanhMuc">
                @*textbox tìm kiếm*@
                <div id="txtTimKiem">
                    @*tạo 1 form submit dữ liệu tìm kiếm*@
                    @using(Html.BeginForm())
                    {
                        //hộp thoại textbox
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class="textBoxTimKiem",@placeholder="Input value need to find"}) @*tên,giá trị textbox,html new @placeholder="giá trị hiển thị trên textbox" *@
                        //tạo button decimal submit
                        <div id="divHinhAnhTimKiem">
                            <button type="submit">

                                <img src="~/HinhAnh/imgSearch.png" />
                            </button>
                        </div>
                    }
                </div>
                    
                @*thêm menu danh mục*@
                <ul class="MenuMain">
                    <li><a href="~/Home/Index/">HomePage</a></li>
                    <li><a href="http://www.motivation.com/">Motivation</a></li>
                    <li><a href="http://www.ted.com/">Course</a></li>
                    <li><a href="#">Scheme</a></li>
                    <li><a href="#">Reward</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                                 
                </ul>
            </div>
        </section>
       
        <section>
            @*menu trái dưới menu chính*@
            <div id="divMenuLeft">
                @*Chèn vào partial view MotivationNewPartial*@
                <div class="activity">
                   @Html.Action("MotivationNewPartial","Home")@*tên action,controller*@   
                              
                </div>
            </div>
            @*chèn divnivoSlider*@
            <div id="slider" class="nivoSlider">
                <img src="~/HinhAnh/life-is-too-short.jpg"/>
                <img src="~/HinhAnh/time-is-money-800x400.png" />
                <img src="~/HinhAnh/Anh2.png" />
                <img src="~/HinhAnh/Anh3.png" />
            </div>
            @*đẩy div dưới xuống dòng đưa divnivoSlider lên ngang bằng*@ 
           <div style="clear:both"></div>
        </section>
        <div id="NoiDung">
            @*Vị  trí vùng dữ  liệu động chính của các
            trang thành viên*@
            @*Nội  dung  từ  các  View  thành  phần  sẽ  được  hiển  thị  tại  vị  trí  đặt  lệnh
            @RenderBody()*@
            @*bất kỳ  nội dung chung nào chúng ta muốn xuất hiện bên ngoài có
            thể  được thêm vào NguoiDungLayout.cshtml ở ngay lệnh @RenderBody*@
            @RenderBody()
        </div>
        
        <div>
          
            <a href="#" class="button button-buy">Welcome to TimeIsShort.com</a>
        </div>
    </div>
</body>
</html>
