﻿
@{
    ViewBag.Title= "LogIn";
    <h6>@ViewBag.TenUser</h6>
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div style="margin-left:400px">
    <h1>Log In</h1>
    @*tạo 1 form*@
    <h2>@ViewBag.ThongBao</h2>
    @using (Html.BeginForm())
    {
        <span>User:</span><br/>
        @Html.TextBox("txtTaiKhoan");
        <br />
        <span>PassWord:</span><br/>
        <input name="txtMatKhau" type="text" />
        <br />
        <input type="submit" id="btnSubmit" name="btnSubmit" />
    }
</div>