﻿@model TimeIsShort.Models.User

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}


<div style="margin-left:400px">
    <h1>SignUp</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PassWord, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PassWord)
                    @Html.ValidationMessageFor(model => model.PassWord)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TimeLife, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeLife)
                    @Html.ValidationMessageFor(model => model.TimeLife)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age)
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Faculty, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Faculty)
                    @Html.ValidationMessageFor(model => model.Faculty)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Habit, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Habit)
                    @Html.ValidationMessageFor(model => model.Habit)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatYaWant, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatYaWant)
                    @Html.ValidationMessageFor(model => model.WhatYaWant)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YourDream, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YourDream)
                    @Html.ValidationMessageFor(model => model.YourDream)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YourMotivation, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YourMotivation)
                    @Html.ValidationMessageFor(model => model.YourMotivation)
                </div>
            </div>

           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>